<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Angular Team App</title>
    <link href="css/normalize.css" rel="stylesheet" media="screen" />
    <link href="css/main.css" rel="stylesheet" media="screen" />

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/teamAppModule.js"></script>
  </head>
  <body data-ng-app="myTeamApp">
    <section data-ng-controller="teamCtrl">
      <h1 data-ng-bind="pageTitle"></h1>
      <input type="text" data-ng-model="name" />
      <button data-ng-click="add(name)">Add</button>
      <ul>
        <li data-ng-repeat="person in people">
          <h2>{{person}}</h2>
          <button data-ng-click="remove($index)">Delete</button>
        </li>
      </ul>
    </section>
  </body>
</html>